<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title><%= (name) %></title><% if(filters.bootstrap) { %>
	<link rel="stylesheet" type="text/css" href="..\..\bower_components\bootstrap\dist\css\bootstrap.css"><% } %>
	<link rel="stylesheet" type="text/css" href=".\<%= (name) %>.css">
	</head>

	<body><% if(filters.bootstrap) { %>
		<script type="text/javascript" src="..\..\bower_components\jquery\dist\jquery.js"></script>
		<script type="text/javascript" src="..\..\bower_components\bootstrap\dist\js\bootstrap.js"></script><% } %>
		<script type="text/javascript" src="..\..\bower_components\react\react.js"></script>

		<script type="text/javascript" src=".\<%= (name) %>.data.js"></script>
		<script type="text/javascript" src=".\<%= (name) %>.render.bundle.js"></script>
	</body>
</html>